<header id="main-header" class="header-container">
    <div class="logo-section">
      <h1 class="site-title">Hi, I'm Karan</h1>
    </div>
  
    <nav id="main-nav" class="navigation">
      <ul class="nav-list">
        <li class="nav-item"><a routerLink="/TwoWayBinding" class="nav-link">Two Way Binding</a></li>
        <li class="nav-item"><a routerLink="/ReactiveForm" class="nav-link" >ReactiveForms</a></li>
        <li class="nav-item"><a href="/TemplateDrivenForm" class="nav-link">TemplateDrivenForms</a></li>
        <li class="nav-item"><a href="/ToDoApp" class="nav-link">ToDoApp</a></li>
        <li class="nav-item"><a href="/SiblingCommunicaton" class="nav-link">Sibling Communication</a></li>
      </ul>
    </nav>
  </header>
  